* {
  margin: 0;
  padding: 0;
  border-style: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  background: #202020;
}

/* display type */
/* sizing */
/* positioning */
/* box model */
/* colors */
/* fonts/decorations */
/*

    font-family: 'Roboto', sans-serif;

    font-family: 'Russo One', sans-serif; */
h1 {
  margin: 16px;
  text-align: center;
  font-family: "Russo One", sans-serif;
}

h4 {
  padding: 15px;
  font-family: "Russo One", sans-serif;
}

li {
  list-style-type: none;
}

.text1 {
  color: white;
  margin: 10px 20px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text--center {
  text-align: center;
}

.header {
  background: #202020;
  border-bottom: 2px solid #29aae1;
}

.logo {
  width: 100px;
  margin: 0px 10px 0px 20px;
}

.button {
  font-family: "Russo One", sans-serif;
  display: inline-block;
  font-weight: 500;
  padding: 8px;
  color: #202020;
  border-radius: 5px;
  margin: 4px 4px 6px 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #2b2b2b;
  background-color: #131313;
  color: white;
}

.button-small {
  font-family: "Russo One", sans-serif;
  display: inline-block;
  font-weight: 500;
  padding: 5px;
  color: #202020;
  border-radius: 5px;
  margin: 4px 4px 6px 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  border: 1px solid #2b2b2b;
  background-color: #131313;
  color: white;
}

.button-small-red {
  font-family: "Russo One", sans-serif;
  display: inline-block;
  font-weight: 600;
  padding: 1px 5px;
  color: #161616;
  background-color: #8d0000;
  border-radius: 3px;
  margin: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  border: none;
  border: 1px solid #575757;
}

.button--red {
  font-family: "Russo One", sans-serif;
  display: inline-block;
  font-weight: 600;
  padding: 4px 8px;
  color: #161616;
  background-color: #8d0000;
  border-radius: 3px;
  margin: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border: 1px solid #575757;
}

.nav {
  background: #202020;
}

.nav-link {
  font-family: "Russo One", sans-serif;
  display: inline-block;
  font-weight: 600;
  padding: 6px;
  color: white;
  border-radius: 3px;
  margin: 10px 4px 10px 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.user-link {
  font-family: "Russo One", sans-serif;
  display: inline-block;
  font-weight: 800;
  font-size: 20px;
  padding: 4px 0px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

.profile-link {
  display: inline-block;
  font-weight: 600;
  font-size: 48px;
  padding: 6px;
  color: white;
  border-radius: 3px;
  margin: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Russo One", sans-serif;
}

.nav-button {
  background: #202020;
  display: inline-block;
  font-weight: 600;
  padding: 6px;
  color: white;
  border: none;
  border-radius: 3px;
  margin: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.text-link {
  color: white;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #202020;
  color: white;
  text-align: center;
  padding: 10px;
  height: 500px;
}

.signup-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  background: #161616;
  width: 80%;
  max-width: 700px;
  margin: 10px auto;
  border-radius: 4px;
  border: 3px solid #2b2b2b;
}

.create-post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 650px;
}

.create-post-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  background: #161616;
  width: 92%;
  margin: 10px auto;
  border-radius: 4px;
  border: 3px solid #2b2b2b;
}

.entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label {
  display: block;
  color: grey;
  font-weight: 600;
  padding: 6px;
}

.form-input {
  padding: 4px;
  margin: 10px;
  font-size: 14px;
  font-weight: 600;
  max-width: 80%;
  min-width: 300px;
  border-radius: 4px;
}

.form-input:focus {
  border: #29aae1 2px solid;
}

.input {
  width: 90%;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
}

.input:focus {
  border: #29aae1 2px solid;
}

.input-post {
  height: 50px;
  resize: vertical;
  margin-bottom: 10px;
}

.home {
  background: #202020;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post {
  border: 3px solid #2b2b2b;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 6px;
}

.post-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}

.post-right {
  margin-left: 10px;
}

.post-main {
  margin-left: 13%;
  margin-right: 5%;
}

.post-user {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-user-image {
  border: 1px solid white;
  border-radius: 3px;
}

.post-body {
  padding: 5px 5px 10px 5px;
  font-size: 16px;
}

.post-container {
  max-width: 80%;
  max-width: 600px;
  min-width: 300px;
}

.dialog-container {
  margin-top: -36px;
}

.hr {
  margin: 10px 0px;
}

.footer {
  background: #202020;
  color: white;
}

.caption {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  padding-bottom: 10px;
}

.inline {
  display: inline;
}

.profile {
  padding: 10px;
  width: 90%;
  max-width: 800px;
  color: white;
  border: 3px solid #2b2b2b;
  border-radius: 4px;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.user-image {
  border: 1px solid white;
  border-radius: 3px;
  margin: 5px;
}

.profile-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-details {
  margin: 10px;
}

.bio-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #2b2b2b;
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.user {
  color: white;
}

.notifications {
  float: right;
  color: white;
}

.notification-markup {
  background: #202020;
}

.count {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin: 3px;
  font-weight: 400;
}

.image-input {
  display: block;
  font-family: "Russo One", sans-serif;
}

.todo-container {
  border: 3px solid #2b2b2b;
  padding: 20px;
  border-radius: 3px;
}

.todo-select {
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 1px;
  margin: 6px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  background-color: #2b2b2b;
  border-radius: 4px;
  color: white;
}

.todo-input {
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 4px;
  margin: 6px;
  width: 97.5%;
  border-radius: 4px;
  border: 1px solid #aaa;
  background-color: #2b2b2b;
  color: white;
}

.todo-input::-webkit-input-placeholder {
  color: #d6d6d6;
}

.todo-input:-ms-input-placeholder {
  color: #d6d6d6;
}

.todo-input::-ms-input-placeholder {
  color: #d6d6d6;
}

.todo-input::placeholder {
  color: #d6d6d6;
}

.todo-list-container {
  border: 3px solid #2b2b2b;
  padding: 20px 2px 20px 2px;
  border-radius: 3px;
}

.todo-items-container {
  border: 3px solid #2b2b2b;
  padding: 5px;
  border-radius: 3px;
  margin: 10px 0px 0px 0px;
}

.todo-li {
  display: inline-block;
  border: 3px solid #2b2b2b;
  min-width: 150px;
  text-align: center;
  padding: 3px 0px;
}

.todo-li-1 {
  display: inline-block;
  border: 3px solid #2b2b2b;
  min-width: 100px;
  text-align: center;
  padding: 3px 0px;
}

.todo-li-3 {
  display: inline-block;
  border: 3px solid #2b2b2b;
  min-width: 70px;
  text-align: center;
  padding: 3px 0px;
}

.todo-li-3 {
  display: inline-block;
  border: 3px solid #2b2b2b;
  min-width: 70px;
  text-align: center;
  padding: 3px 0px;
}

.todo-li-4 {
  display: inline-block;
  border: 3px solid #2b2b2b;
  min-width: 70px;
  text-align: center;
  padding: 3px 0px;
}

.errors {
  color: red;
  margin: 3px;
}

.lessMargin {
  margin-top: -30px;
}

.spacer {
  height: 40px;
}

.hero-container {
  background-image: url("../Assets/images/nyxhero.png");
  width: 100vw;
  height: 70vh;
  background-position: center;
  background-size: cover;
}

.hero-image {
  display: none;
  margin: 0 auto;
  width: 200vw;
}
/*# sourceMappingURL=main.css.map */